@import "../variables.scss";
@import "../components/button.scss";

.features {
  padding: 100px 0;
  .features-title {
    max-width: 800px;
    margin: 0 auto;
    @media (max-width: $laptop) {
      width: 100%;
    }
    h2 {
      text-align: center;
      font-family: $font;
      font-size: 2.3rem;
      color: $blueTitle;
      font-weight: 700;
    }
    hr {
      width: 66px;
      height: 2px;
      background-color: $blue;
      border: none;
    }
    p {
      margin: 30px 0 100px;
      text-align: center;
      font-family: $font;
      font-size: 1rem;
      line-height: 2rem;
      color: $blueTitle;
      font-weight: 300;
    }
  }
}
