#footer {
  width: 100%;
  padding: 100px 0px;
  background: rgb(116, 100, 253);
  background: linear-gradient(
    0deg,
    rgba(116, 100, 253, 1) 0%,
    rgba(88, 81, 234, 1) 50%,
    rgba(88, 81, 234, 1) 100%
  );
}
