header {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 10;

  .header-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100px;

    .logo {
      display: flex;
      align-items: center;

      .logo-span {
        margin-left: 10px;

        span {

          font-family: $font;
          color: white;
          font-size: 1.8rem;
          font-weight: 700;
        }
      }


    }
  }

  .navigation {
    ul {
      display: flex;
      align-items: center;
    }

    li {
      list-style: none;
      padding: 0 25px;
      font-family: $font;
      font-size: 0.875rem;
      color: $white;
    }

    li:last-child {
      background-color: white;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 100px;
      color: $blue;
    }

    @media (max-width: $desktop) {
      display: none;
    }
  }
}