.managed-features {
    background-color: #F5F9FC;
    padding: 100px 0 136px;
    position: relative;

    .features-inner {
        width: 100%;

        .features-content {

            max-width: $maxwidth;
            margin: 0 auto;


            .features-content-inner {

                display: flex;
                align-items: center;
                flex-wrap: wrap;

                @media (max-width: $desktop) {
                    flex-direction: column-reverse;
                }

                .image {
                    width: 40%;
                    position: absolute;
                    top: -50px;
                    right: 0;
                    z-index: 10;

                    .image-inner {
                        position: relative;

                        .img1 {
                            max-width: 430px;
                        }

                        .img2 {
                            position: absolute;
                            left: 30px;
                            top: 60px;
                            max-width: 350px;

                        }
                    }


                    @media (max-width: $desktop) {
                        position: initial;
                        display: none;
                        justify-content: center;

                        width: 100%;

                    }
                }

                .features-items {
                    width: 60%;

                    h3 {
                        font-family: $font;
                        font-size: 2.25rem;
                        color: $blueFeatures;
                        font-weight: 500;
                    }

                    p {
                        font-family: $fontP;
                        font-size: 1rem;
                        line-height: 32px;
                        color: $greyP;
                    }

                    @media (max-width:$desktop) {
                        width: 100%;
                        text-align: center;
                    }

                    .btn-row-features {

                        @media (max-width:$desktop) {
                            margin: 35px auto;
                        }
                    }


                }


            }
        }
    }


}